<section id="login__area" class="login__area">
  <div class="container">
    <div class="login__wrap">
      <div class="login__content">
        <h2><%= t('.title') %></h2>

        <div class="login__part">
          <%= simple_form_for(@user, url: users_locale_enrol_path, html: { method: :put, class: 'form' }) do |f| %>
            <h3>
            <%= f.error_notification %>
            </h3>
            <div class="input_label">
              <label><%= t('activerecord.attributes.user.salutation') %> <abbr title="required">*</abbr></label>
            </div>
            <%= f.collection_radio_buttons(:salutation, t('devise.registrations.edit.salutations'),
                                           :to_s,
                                           :to_s,
                                           checked: @user.salutation,
                                           collection_wrapper_tag: 'div',
                                           collection_wrapper_class: 'radio_buttons') do |b|
              b.label { b.radio_button + '<span><span></span></span>'.html_safe + ' ' + b.text.html_safe }
            end
            %>
            <%= f.input :first_name, required: true %>
            <%= f.input :last_name, required: true %>
            <%= f.input :email, required: true %>
            <%= f.input :invite_code, required: true %>
            <%= f.input :password, required: true %>
            <%= f.input :password_confirmation, required: true %>

            <div class="submit d-flex justify-content-end">
              <%= button_tag(type: 'submit', class: 'login') do %>
                <%= t('course.actions.next') %>
                <%= image_tag("right_angle_purple.svg") %>
              <% end %>
            </div>
          <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
