<section id="login__area" class="login__area">
  <div class="container">
    <div class="login__wrap">
      <div class="login__content">
        <h2><%= t('.title') %></h2>
        <p><%= t('.description') %></p>

        <div class="login__part">
          <%= simple_form_for(@user, url: users_locale_enrol_path, html: { method: :put, class: 'form' }) do |f| %>
            <%= render 'tmp_storage_fields', f: f %>
            <%= f.input :institution, as: :string, required: true %>

            <div class="submit d-flex justify-content-end">
              <%= button_tag(type: 'submit', class: 'login btn btn-primary') do %>
                <%= t('course.actions.next') %>
                <!-- <%= image_tag("right_angle_purple.svg") %> -->
                <span class="arrow-circle"><i class="fa fa-arrow-right-long arrow right"></i></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
