<div class='row menu'>
  <div class='small-12 medium-12 large-12 columns with-content with-minimum' id='accordion'>
    <ol>
      {{#each chapter in visibleChapters}}
        <li {{bind-attr class=':panel :panel-default chapter.available:available:unavailable chapter.selected:selected:collapsed'}}>
          <div {{action 'toggle' chapter}} class='panel-heading'>
            <h2 class='panel-title'>
              <a>{{chapter.title}}</a>
            </h2>
          </div>
          <div {{bind-attr id=chapter.id}} class='panel-collapse collapse'>
            <ol class='list-group'>
              {{#each step in chapter.visibleSteps}}
                <li {{action 'select' chapter step}}>
                  <h3>
                    <a {{bind-attr class=':list-group-item step.available:available'}}>
                      <i {{bind-attr class='step.progressClass'}}></i> {{step.title}}
                    </a>
                  </h3>
                </li>
              {{/each}}
            </ol>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</div>
