<section id="login__area" class="login__area">
  <div class="container">
    <div class="login__wrap">
      <div class="login__content">
        <h2><%= t('.login') %></h2>

        <div class="login__part">
          <div class="welcome__content">
            <p>
              <%= simple_format t('.intro') %>
            </p>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true %>
            <%= f.input :remember_me, as: :boolean, input_html: { checked: true } %>

            <div class="remember__forget">
              <div class="remember">
                <div class="checkbox_wrap">
                  <input type="checkbox" id="fake_check">
                  <div class="check_field"></div>
                </div>
                <label for="fake_check"><%=I18n.t('login.remember_me') %></label>
              </div>
              <div class="forget">
                <a href="#" style="color: #000;">Forgot your password?</a>
              </div>
            </div>

            <div class="submit d-flex justify-content-end">
              <%= button_tag(type: 'submit', class: 'login') do %>
                <%= f.submit I18n.t('.login') %>
                <%= image_tag("right_angle_purple.svg") %>
              <% end %>
            </div>
          <% end %>
          </form>
          <script>
           $("#fake_check").change(function() {
             if(this.checked) {
               $("#user_remember_me").prop( "checked", true );
             } else {
               $("#user_remember_me").prop( "checked", false );
             }
           });
          </script>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='devise registrations details row'>
  <div class='small-6 medium-6 large-6 columns with-content with-minimum'>
  </div>
  <div class='small-6 medium-6 large-6 columns with-content with-minimum'>
    <ul class='progress'>
      <li class='selected'></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <h1><%= t('.title') %></h1>
    <%= simple_form_for(@user, url: users_locale_enrol_path, html: { method: :put, class: 'form' }) do |f| %>
      <%= render 'tmp_storage_fields', f: f %>
      <div class='form-inputs'>
        <label><abbr title="required">*</abbr> <%= t('activerecord.attributes.user.salutation') %></label>
        <%= f.collection_radio_buttons(:salutation, t('devise.registrations.edit.salutations'), :to_s, :to_s, checked: @user.salutation, collection_wrapper_tag: 'div', collection_wrapper_class: 'radio_buttons') do |b|
            b.label { b.radio_button + '<span><span></span></span>'.html_safe + ' ' + b.text.html_safe }
          end
        %>
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :email, required: true %>
        <%= f.input :invite_code, required: true %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>
      </div>
      <div class='form-actions button-container'>
        <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
          <%= t('course.actions.next') %><i class='fi-arrow-right'></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
