<section id="account__area" class="account__area">
  <div class="container">
    <div class="account__wrap">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', method: :put }) do |f| %>
        <div class="row g-3">
          <div class="col-lg-6">
            <div class="account__content">
              <h2><%= t('.title') %></h2>
              <p class="accountp1">
                <%= t('.registrations_description') %>
              </p>
              <h6><%= t('.contact_preferences') %></h6>
              <p><%= t('.description_html') %></p>
              <p><%= t('.marketing_overall_opt_in_description_html') %></p>
              <%= f.input :marketing_overall_opt_in, label: t('.marketing_overall_opt_in_html') %>
              <p class='accountp3'><%= t('.marketing_overall_opt_in_note_html') %><p>
                <p class="accountp4">
                  <%= t('.marketing_overall_description_html') %>
                </p>
                <div class="marketing_options">
                  <div class="remember accountcheck">
                    <%= f.input :marketing_email_opt_in, label: t('.marketing_email_opt_in_label_html') %>
                  </div>
                  <div class="remember accountcheck">
                    <%= f.input :marketing_post_opt_in, label: t('.marketing_post_opt_in_label_html') %>
                  </div>
                  <div class="remember accountcheck align-items-start">
                    <%= f.input :marketing_representative_opt_in, label: t('.marketing_representative_opt_in_label_html') %>
                  </div>
                </div>
                <span style="color: #A9A9A9;">
                  <%= t('.marketing_overall_opt_in_tick_html') %>
                </span>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="account__form">
              <h2><%= t('.my_details') %></h2>
              <div class="account__solution">

                <span><%= t('activerecord.attributes.user.salutation') %></span>
                <%= f.collection_radio_buttons(:salutation, t('.salutations'),
                                               :to_s,
                                               :to_s,
                                               checked: resource.salutation,
                                               collection_wrapper_tag: 'div',
                                               collection_wrapper_class: 'radio_buttons') do |b|
                                                 b.label { b.radio_button + '<span><span></span></span>'.html_safe + ' ' + b.text.html_safe }
                                               end
                %>
                <%= f.input :first_name, required: true %>
                <%= f.input :last_name, required: true %>
                <%= f.input :institution, as: :string, required: true %>
                <% if has_department? %>
                  <%= f.input :department, required: false %>
                <% end %>
                <% if us_locale? && @user.origin == 'us' %>
                  <%= f.input :city_or_state, required: false %>
                  <%= f.input :primary_specialty, required: false %>
                <% end %>
                <%= f.input :email, required: false, disabled: true %>
                <%= f.input :password, autocomplete: 'off', hint: t('.leave_blank_if_you_don_t_want_to_change_it'), required: false %>
                <%= f.input :password_confirmation, required: false %>

                <div class='d-flex justify-content-end mt-5'>
                  <%= button_tag(type: 'submit', class: 'login') do %>
                    <%= t('.update') %><i class='fi-arrow-right'></i>
                    <%= image_tag("right_angle_purple.svg") %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

