<div class='devise registrations row'>
  <div class='small-6 medium-6 large-6 columns with-content with-minimum'>
  </div>
  <div class='small-6 medium-6 large-6 columns with-content with-minimum'>
    <h1 class='vh'><%= t('.sign_up') %></h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', method: :put }) do |f| %>
      <div class='form-inputs'>
        <label><abbr title='required'>*</abbr> Salutation</label>
        <%= f.collection_radio_buttons(:title, t('.titles'), :to_s, :to_s, checked: resource.title, collection_wrapper_tag: 'div', collection_wrapper_class: 'radio_buttons') do |b|
            b.label { b.radio_button + '<span><span></span></span>'.html_safe + ' ' + b.text.html_safe }
          end
        %>
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :email, required: true %>
        <%= f.input :password, autocomplete: 'off', hint: t('.leave_blank_if_you_don_t_want_to_change_it'), required: false %>
        <%= f.input :password_confirmation, required: false %>
      </div>
      <div class='form-actions button-container'>
        <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
          <%= t('.update') %><i class='fi-arrow-right'></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
