<div class="devise registrations row">
  <div class="small-6 medium-6 large-6 columns with-content with-minimum">
  </div>
  <div class="small-6 medium-6 large-6 columns with-content with-minimum">
    <h1 class="vh"><%= t('.sign_up') %></h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', method: :put }) do |f| %>
      <div class="form-inputs">
        <div class="form-group">
          <label>Title</label>
          <% t('.titles').each do |title| %>
            <input type="radio" name="title" value="<%= title %>" id="<%= title %>" class=""><label for="<%= title %>"><span><span></span></span><%= title %></label>
          <% end %>
        </div>
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :email, required: true %>
        <%= f.input :password, autocomplete: 'off', hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: 'we need your current password to confirm your changes', required: true %>
      </div>
      <div class="form-actions button-container">
        <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
          <%= t('.enrole') %><i class="fi-arrow-right"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
