<div class="devise registrations row">
  <div class="small-6 medium-6 large-6 columns with-content with-minimum">
  </div>
  <div class="small-6 medium-6 large-6 columns with-content with-minimum">
    <h1 class="vh"><%= t('.sign_up') %></h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
      <div class="form-inputs">
        <div class="form-group">
          <label>Title</label>
          <input type="radio" name="title" value="Dr" id="dr" class=""><label for="dr"><span><span></span></span>Dr</label>
          <input type="radio" name="title" value="Mr" id="mr" class=""><label for="mr"><span><span></span></span>Mr</label>
          <input type="radio" name="title" value="Mrs" id="mrs" class=""><label for="mrs"><span><span></span></span>Mrs</label>
          <input type="radio" name="title" value="Miss" id="miss" class=""><label for="miss"><span><span></span></span>Miss</label>
          <input type="radio" name="title" value="Ms" id="ms" class=""><label for="ms"><span><span></span></span>Ms</label>
        </div>
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :email, required: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
        <%= f.input :password_confirmation, required: true %>
      </div>
      <div class="form-actions button-container">
        <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
          <%= t('.enrole') %><i class="fi-arrow-right"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
