<section id="login__area" class="login__area">
  <div class="container">
    <div class="login__wrap">
      <div class="login__content">

        <div class="login__part">
          <h1 class='vh'><%= t('.change_your_password') %></h1>
          <p><%= t('.change_your_password') %></p>
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.input :reset_password_token, as: :hidden %>
            <%= f.full_error :reset_password_token %>
            <div class='form-inputs'>
              <%= f.input :password, label: t('.password_label'), required: true, autofocus: true %>
              <%= f.input :password_confirmation, label: t('.password_confirmation_label'), required: true %>
            </div>

            <div class="submit d-flex justify-content-end">
              <%= button_tag(type: 'submit', class: 'login') do %>
                <%= t('.submit') %>
                <%= image_tag("right_angle_purple.svg") %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
