<div class='devise registrations us row'>
  <div class='small-12 medium-12 large-12 columns with-content with-minimum'>
    <div class="row">
      <div class="small-12 columns">
        <h1>Registration</h1>
        <p><a href="http://www.ge.com/privacy" target="_blank">Privacy Statement for Vizamyl (flutemetamol F 18 injection) Electronic Read Training Program</a></p>
        <p>Information we collect and how we use it:<br><br>Personal Information<br><br>You will be asked to provide personal information (your first name, last name, and salutation) on this training program. Unless you choose otherwise below, this information will be used solely for the purpose of identifying you on the test results section. You then will be given the opportunity to print or save this information at the completion of the training program.<br><br>Please complete the registration information below to continue.</p>
        <p><small>* Required Feild</small></p>
      </div>
    </div>
    <%= simple_form_for(@user, url: american_enrol_index_path) do |f| %>

    <!-- <div class="row">
      <div class="small-12 columns">
      <% if @user.errors.any? %>
        <div class="error_explanation">
          <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      </div>
    </div> -->

      <div class="row">
        <div class="small-12 columns">
          <label><abbr title="required">*</abbr> <%= t('activerecord.attributes.user.salutation') %></label>
          <%= f.collection_radio_buttons(:salutation, t('devise.registrations.edit.salutations'), :to_s, :to_s, checked: @user.salutation, collection_wrapper_tag: 'div', collection_wrapper_class: 'radio_buttons') do |b|
              b.label { b.radio_button + '<span><span></span></span>'.html_safe + ' ' + b.text.html_safe }
            end
          %>
        </div>
      </div>

      <div class="row row-input">
        <div class="small-6 columns">
          <%= f.input :first_name, required: true %>
        </div>
        <div class="small-6 columns">
          <%= f.input :last_name, required: true %>
        </div>
      </div>

      <div class="row row-input">
        <div class="small-6 columns">
          <%= f.input :email, required: true %>
        </div>
      </div>

      <div class="row row-input">
        <div class="small-8 columns">
          <%= f.input :institution, as: :string, required: true %>
        </div>
      </div>

      <div class="row row-input">
        <div class="small-8 columns">
          <%= f.input :invite_code, required: true %>
        </div>
      </div>

      <div class="row row-input">
        <div class="small-6 columns">
          <%= f.input :password, required: true %>
          <p>Password must be at least eight charcters long</p>
        </div>
        <div class="small-6 columns">
          <%= f.input :password_confirmation, required: true %>
        </div>
      </div>

      <div class="row row-input">
        <div class="small-12 columns">
          <%= f.input :marketing_overall_opt_in, required: true, label: 'I would like to opt-in to receive other materials or information from GE Healthcare about Vizamyl.' %>
          <%= f.input :marketing_overall_opt_in_other, required: true, label: 'I opt-out to receive any information regarding Vizamyl. By opting-out you are not prohibited from taking this training.', as: :boolean %>
        </div>
      </div>

      <div class="row row-input privacy">
        <div class="small-12 columns">
          <p>Privacy Statement:</p>
          <%= f.input :privacy_opt_in, required: true, label: 'I have reviewed the Privacy statement please <a href="http://www.ge.com/privacy" target="_blank">click here</a> to view.'.html_safe %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class='form-actions button-container'>
            <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
              Submit <i class='fi-arrow-right'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <script>
      $(document).ready(function() {
        $('#user_marketing_overall_opt_in').click(function(e){
          $('#user_marketing_overall_opt_in_other').prop('checked', false).prop('disabled', false).prop('required', false);
          $(this).prop('checked', true).prop('disabled', true).prop('required', true);
        });
        $('#user_marketing_overall_opt_in_other').click(function(e){
          $('#user_marketing_overall_opt_in').prop('checked', false).prop('disabled', false).prop('required', false);
          $(this).prop('checked', true).prop('disabled', true).prop('required', true);
        });
      });
    </script>
  </div>
</div>
