{{ log '###################' }}
<div class="assessment__select">
  {{#each question in content}}
    <div class="assessment__single__select">
      {{radio-button id=question.id value=question name=view.name selection=view.value}}

      <!-- Render the heading -->
      <h2>{{split-heading (unbound question.body)}}</h2>
      
      {{#if question.body }}
          <div class="assessment__list">{{{ split-updated-body (unbound question.body) }}}</div>
      {{/if}}

      {{#unless hideCheats }}
        {{#if question.correct }}
          {{ log "          ✅" }}
          {{ log " " }}
        {{else}}
          {{ log "          -" }}
          {{ log " " }}
        {{/if}}
      {{/unless}}
    </div>
  {{/each}}
</div>
