{{ log '###################' }}
<div class="assessment__select">
  {{#each question in content}}
    <div class="assessment__single__select">
      {{radio-button id=question.id value=question name=view.name selection=view.value}}
      <label {{bind-attr for=question.id}}>
        <div class="assessment__list">
          {{{question.body}}}
        </div>
      </label>

      {{#if dev }}
        {{#if question.correct }}
          {{ log "          ✅" }}
          {{ log " " }}
        {{else}}
          {{ log "          -" }}
          {{ log " " }}
        {{/if}}
      {{/if}}
    </div>
  {{/each}}
</div>

