{{ log "RENDER: mulity-scroller.hbs" }}
<div class="d-flex flex-row multi-scroll w-100">
  <div {{bind-attr class=':image_wrapper :interactive loaded:loaded:loading' xwidth=imageWidth xheight=imageHeight}}>
    <div class='spinner'></div>
    <div {{bind-attr class=':image_holder' xstyle=style}}>
      {{#each image in images}}
        {{image-toggler source=image selectedImage=selectedImage}}
      {{/each}}
    </div>
  </div>
  <div class='dragdealer'>
    <div class='handle'>
    </div>
  </div>
</div>
<p {{bind-attr class=':label' style=labelStyle}}>{{label}}</p>

