{{ log "RENDER single-scroller.hbs" }}
<div class="d-flex flex-row multi-scroll w-100">
  <div {{bind-attr class=':image_wrapper :xleft loaded:loaded:loading' width=imageWidth height=imageHeight}}>
    <div class='spinner'></div>
    <div {{bind-attr class=':image_holder' style=style}}>
      <img>
    </div>
    <p {{bind-attr class=':label' style=labelStyle}}>{{label}}</p>
  </div>
  <div class='dragdealer'>
    <div class='handle'>
    </div>
  </div>
  <p {{bind-attr class=':label' style=labelStyle}}>{{label}}</p>
</div>
