<div class="offcanvas-area">
  <div class="menu-close">
    <i class="far fa-x"></i>
  </div>
  <div class="offcanvas-menu">
    <div class="main-menu">
      <ul class="d-block">
        {{partial 'menu_links'}}
      </ul>
    </div>
  </div>
</div>

<div class="offcanvas-overlay"></div>

<header id="header__area" class="header__area">
  <div class="container">
    <div class="header__wrap">
      {{!-- <a href='/{{unbound currentLocale}}'>
        {{partial 'logo1-svg'}}
      </a> --}}
      <div class="header__nav d-none d-xl-block">
        <ul>
          {{partial 'menu_links'}}
        </ul>
      </div>
      <div class="burger_menu d-xl-none d-block">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
      </div>

      {{#if hasUSOrigin}}
        <div class="vizamyl_logo">
          <a href='/{{unbound currentLocale}}'>
            <img src="{{asset-url 'vizamyl-logo.png'}}" />
          </a>
        </div>
      {{else}}
        <div class="vizamyl_logo">
          <div class="logo_text">
            <p class="global_brand">
              <a href='/{{unbound currentLocale}}'>{{{i18n layouts.application.logo.1_html}}}</a>
              {{{i18n layouts.application.logo.2_html}}}
              {{{i18n layouts.application.logo.3_html}}}
            </p>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</header>
