<div class='small-6 medium-6 large-6 columns with-content'>
  <%= image_tag('ge-logo.png', id: 'ge-logo') %>
</div>
<div class='small-6 medium-6 large-6 columns with-content'>
  <%= image_tag('blue-hand.png', id: 'blue-hand') %>
</div>

<div class='small-12 medium-12 large-12 columns with-content with-minimum'>
  <%= t('pages.home.blue_hand_body_html') %>

  <div class='button-container row'>
    <div class='small-12 medium-12 large-12 columns'>
      <a href='<%= new_user_session_path %>'><%= t('layouts.application.login') %><i class='fi-arrow-right'></i></a>
      <% if european_locale? %>
        <a href='<%= european_enrol_path(id: User.form_steps.first, locale: I18n.locale) %>'><%= t('layouts.application.enrol') %><i class='fi-arrow-right'></i></a>
      <% else %>
        <a href='<%= new_non_european_enrol_path(locale: I18n.locale) %>'><%= t('layouts.application.enrol') %><i class='fi-arrow-right'></i></a>
      <% end %>
    </div>
  </div>
</div>
