<div class='container blue_hand'>
  <div class='row justify-content-between'>
    <div class='col-4 ge_logo '>
      <%= image_tag('ge-logo.png', id: 'ge-logo') %>
    </div>
    <div class='col-4 blue_hand_logo'>
      <%= image_tag('blue-hand.png', id: 'blue-hand') %>
    </div>
  </div>
</div>

<div class='container blue_hand'>
  <div class='row'>
    <div class='col-32 blue_hand'>
      <%= t('pages.home.blue_hand_body_html') %>
    </div>
  </div>
</div>

<div class='container blue_hand'>
  <div class="welcome__hero__wrap">
    <div class="welcome__hero__btns">
      <a href='<%= new_user_session_path %>'><%= t('layouts.application.login') %>
        <%= image_tag("right_angle_purple.svg") %>
      </a>
      <% if european_locale? %>
        <a href='<%= european_enrol_path(id: User.form_steps.first, locale: I18n.locale) %>'><%= t('layouts.application.enrol') %>
          <%= image_tag("right_angle_purple.svg") %>
        </a>
      <% else %>
        <a href='<%= new_non_european_enrol_path(locale: I18n.locale) %>'><%= t('layouts.application.enrol') %>
          <%= image_tag("right_angle_purple.svg") %>
        </a>
      <% end %>
    </div>
  </div>
</div>
