<div class='row'>
  <div class='large-12 large-centered map'>
    <h1>VIZAMYL<sup class='trade-mark'>&trade;</sup> Flutemetamol <sup class='one-eight'>18</sup>F Injection</h1>
    <h2>Electronic training programme</h2>
    <p><span class='blue'>This site is intended for medical professionals only</span><br> To proceed, please select which country you are from.</p>
    <ul class='locale-select'>
      <% I18n.available_locales.each do |locale| %>
        <li>
          <a href='<%= "/#{locale}" %>' class='<%= "#{locale}-button" %>'>
            <%= locale %>
          </a>
        </li>
      <% end %>
      <li>
        <a href="https://hls2.gehealthcare.com/content/unfiltered/LIFE-VIZAMYL-NONSCORM/" target="_blank" class='us-button'>US</a>
      </li>
    </ul>
    <ul class='locale-label'>
      <% I18n.available_locales.each do |locale| %>
        <li>
          <a href='<%= "/#{locale}" %>' class='<%= "#{locale}-button" %>'>
            <%= t(".locale_titles.#{locale}_html") %>
          </a>
        </li>
      <% end %>
    <li>
      <a href="https://hls2.gehealthcare.com/content/unfiltered/LIFE-VIZAMYL-NONSCORM/" target="_blank" class='us-button'>  <%= t(".locale_titles.us_html") %> </a>
    </li>
    </ul>
  </div>
</div>
