<section id="welcome__hero__area" class="welcome__hero__area">
  <div class="container">
    <% if display_blue_hand_logo? %>
      <%= render 'pages/with_blue_hand' %>
    <% else  %>
      <div class="welcome__hero__wrap">
        <div class="welcome__hero__content welcomecontent">
          <%= t('.body_html') %>
        </div>
        <div class="welcome__hero__btns">
          <a href='<%= new_user_session_path %>'><%= t('layouts.application.login') %>
            <%= image_tag("right_angle_purple.svg") %>
          </a>

          <% if european_locale? %>
            <a href='<%= european_enrol_path(id: User.form_steps.first, locale: I18n.locale) %>'><%= t('layouts.application.enrol') %>
              <%= image_tag("right_angle_purple.svg") %>
            </a>
          <% else %>
            <% if us_locale? %>
              <a href='<%= us_path %>'><%= t('layouts.application.enrol') %>
                <%= image_tag("right_angle_purple.svg") %>
              </a>
            <% else #Japanese %>
              <a href='<%= new_non_european_enrol_path(locale: I18n.locale) %>'><%= t('layouts.application.enrol') %>
                <%= image_tag("right_angle_purple.svg") %>
              </a>
            <% end %>
          <% end %>
        </div>

      </div>
      <% if locale.to_sym == :jp %>
        <div class="row my-5">
          <p class='care-of'>
            日本語監修：<br>
            地方独立行政法人東京都健康長寿医療センター研究所 研究部長<br>
            <span>石井 賢二</span> 先生<br>
            地方独立行政法人　神戸市民病院機構　神戸市立医療センター中央市民病院<br>
            臨床研究推進センター分子イメージング研究グループ長<br>
            <span>千田 道雄</span>先生<br>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

