<section id="welcome__hero__area" class="welcome__hero__area">
  <div class="container">
    <div class="welcome__hero__wrap">
      <div class="welcome__hero__content welcomecontent">
        <%= t('.body_html') %>
      </div>
      <div class="welcome__hero__btns">
        <a href='<%= new_user_session_path %>'><%= t('layouts.application.login') %>
          <%= image_tag("right_angle_purple.svg") %>
        </a>

        <% if european_locale? %>
          <a href='<%= european_enrol_path(id: User.form_steps.first, locale: I18n.locale) %>'><%= t('layouts.application.enrol') %>
            <%= image_tag("right_angle_purple.svg") %>
          </a>
        <% else %>
          <% if us_locale? %>
            <a href='<%= us_path %>'><%= t('layouts.application.enrol') %>
              <i class='fi-arrow-right'></i>
              <%= image_tag("right_angle_purple.svg") %>
            </a>
          <% else #Japanese %>
            <a href='<%= new_non_european_enrol_path(locale: I18n.locale) %>'><%= t('layouts.application.enrol') %>
              <%= image_tag("right_angle_purple.svg") %>
            </a>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</section>
