<div class='resources row'>
  <div class='large-12 columns with-content with-minimum'>
    <% if I18n.locale == :'en-us' %>
      <h2><%= t('.prescribing_information_title')%></h2>
      <a href='<%= asset_url("/pdfs/#{I18n.locale}/prescribing_information.pdf")%>' target="_blank"><div class='download-pdf-button'></div></a>
    <% else %>
      <h2><%= t('.smpc_title')%></h2>      
      <% if I18n.locale == :'jp' %>
        <div style="display: flex; gap: 20px; flex-wrap: wrap;">
          <div style="text-align: center;">
            <a href='<%= asset_url("/pdfs/#{I18n.locale}/fastlab.pdf")%>' target="_blank">
              <div class='download-pdf-button'></div>
            </a>
            <div style="font-weight: normal; font-size: 16px; margin-top: -12px; margin-bottom: 12px;">FASTlab</div>
          </div>

          <div style="text-align: center;">
            <a href='<%= asset_url("/pdfs/#{I18n.locale}/fastlab2.pdf")%>' target="_blank">
              <div class='download-pdf-button'></div>
            </a>
            <div style="font-weight: normal; font-size: 16px; margin-top: -12px; margin-bottom: 12px;">FASTlab2</div>
          </div>
        </div>
      <% else %>        
        <a href='<%= asset_url("/pdfs/#{I18n.locale}/smpc.pdf")%>' target="_blank"><div class='download-pdf-button'></div></a>
      <% end %>
    <% end %>

    <% if I18n.locale != :it %>
      <h2><%= t('.rainbow_title')%></h2>
      <a href='<%= asset_url("/pdfs/#{I18n.locale}/rainbow_colour_scale_rgb_values.pdf")%>' target="_blank"><div class='download-pdf-button'></div></a>
    <% end %>
    <div class="blue-bar"></div>
  </div>
</div>
