<ul class='locale-select'>
  <% I18n.available_locales.each do |locale| %>
  <li>
    <a href='<%= "/#{locale}" %>' class='<%= "#{locale}-button" %>'>
      <%= locale %>
    </a>
  </li>
  <% end %>
  <li>
    <a href="https://hls2.gehealthcare.com/content/unfiltered/LIFE-VIZAMYL-NONSCORM/" target="_blank" class='us-button'>US</a>
  </li>
</ul>
<ul class='locale-label'>
  <% I18n.available_locales.each do |locale| %>
  <li>
    <a href='<%= "/#{locale}" %>' class='<%= "#{locale}-button" %>'>
      <%= t(".locale_titles.#{locale}_html") %>
    </a>
  </li>
  <% end %>
  <li>
    <a href="https://hls2.gehealthcare.com/content/unfiltered/LIFE-VIZAMYL-NONSCORM/" target="_blank" class='us-button'>  <%= t(".locale_titles.us_html") %> </a>
  </li>
</ul>
