<div class='row'>
  <div class='large-12 large-centered map'>
    <ul class='locale-select'>
      <% I18n.available_locales.each do |locale| %>
      <li>
        <a href='<%= "/#{locale}" %>' class='<%= "#{locale}-button" %>'>
          <%= locale %>
        </a>
      </li>
      <% end %>
    </ul>
    <ul class='locale-label'>
      <% I18n.available_locales.each do |locale| %>
      <li>
        <a href='<%= "/#{locale}" %>' class='<%= "#{locale}-button" %>'>
          <%= t("pages.gatekeeper.locale_titles.#{locale}_html") %>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
