<nav role='nav'>
	<div class='row'>
		<ul class='inline-list'>
			<li>{{#link-to 'locale.menu'}}{{i18n layouts.application.course_menu}}{{/link-to}}</li>
			<li><a href='/{{unbound currentLocale}}/users/edit'}}>{{i18n layouts.application.my_account}}</a></li>
			<li><a href='/{{unbound currentLocale}}/prescribing-information'>{{i18n layouts.application.prescribing_information}}</a></li>
			<li><a href='/{{unbound currentLocale}}/references'>{{i18n layouts.application.references}}</a></li>
			<li><a href='/{{unbound currentLocale}}/contact'>{{i18n layouts.application.contact}}</a></li>
			<li><a href='/{{unbound currentLocale}}/resources'>{{i18n layouts.application.resources}}</a></li>
			<li><a href='/{{unbound currentLocale}}/users/logout'>{{i18n layouts.application.logout}}</a></li>
			<li class='right'>
				<p class='global-brand'>
					{{{i18n layouts.application.brand_html}}}
				</p>
			</li>
		</ul>
	</div>
</nav>
