<div class="offcanvas-area">
  <div class="menu-close">
    <i class="far fa-times"></i>
  </div>
  <div class="offcanvas-menu">
    <div class="main-menu">
      <ul class="d-block">
        {{partial 'menu_links'}}
      </ul>
    </div>
  </div>
</div>

<div class="offcanvas-overlay"></div>

<header id="header__area" class="header__area">
  <div class="container">
    <div class="header__wrap">
      <a href='/{{unbound currentLocale}}'>
        {{partial 'logo1-svg'}}
      </a>
      <div class="header__nav d-none d-xl-block">
        <ul>
          {{partial 'menu_links'}}
        </ul>
      </div>
      <div class="header__logo__bar">
        <a href='/{{unbound currentLocale}}' class="">
            <div class="header__logo2">
              {{partial 'logo2-svg'}}
            </div>
        </a>

        <div class="header__bar d-xl-none d-block">
          <a href="#"><i class="fa-solid fa-bars"></i></a>
        </div>
      </div>

      </div>
    </div>
  </div>
</header>
