<nav role="nav">
	<div class="row">
		<ul class="inline-list">
			<li><a href="#" {{action "toggle" target="controllers.menu"}}> {{i18n layouts.application.course_menu}}</a></li>
			<li><a href="/users/edit">{{i18n layouts.application.my_account}}</a></li>
			<li><a href="/prescribing-information">{{i18n layouts.application.prescribing_information}}</a></li>
			<li><a href="/references">{{i18n layouts.application.references}}</a></li>
			<li><a href="/resources">{{i18n layouts.application.resources}}</a></li>
			<li><a href="/contact">{{i18n layouts.application.contact}}</a></li>
			<li><a href="/users/logout">{{i18n layouts.application.logout}}</a></li>
			<li class="right">
				<p class="global-brand">
					{{{i18n layouts.application.brand_html}}}
				</p>
			</li>
		</ul>
	</div>
</nav>
