<nav role="nav">
	<div class="row">
		<ul class="inline-list">
			<li><a href="#" {{action "toggle" target="controllers.menu"}}> {{i18n layouts.course.menu}}</a></li>
			<li><a href="/users/edit">{{i18n layouts.application.edit_account}}</a></li>
			<li><a href="/users/logout">{{i18n layouts.application.sign_out}}</a></li>
		 	<li>{{currentUser.email}}</li>

			<li class="right"> 
				<p class="global-brand">
					<a href="">Vizamyl</a><span class="indicator"></span>
					<span>Flutemetamol F18</span>
					<span>Injection</span>
				</p>
			</li>
		</ul>
	</div>
</nav>

