<section id="reference__area" class="reference__area">
  <div class="container">
    <div class="reference__wrap assessment__wrap">
      <div class="testcase__row">
        <div {{bind-attr class=':row :g-3 :page :test-page :four-b-page'}}>
          {{#if isInExpanded}}
            <!-- // Probably unreachable -->
          {{else}}
            {{#if isInAnswered}}
              {{ log 'TODO: >>> isInAnswered' }}
              {{#if testCorrect}}
                {{ log 'TODO: >> testCorrect' }}
              {{else}}
                {{#if testFailedOnce}}
                {{else}}
                  <p>{{{i18n course.pages.test.four_b.incorrect_two_one_html}}} <a href='/{{unbound currentLocale}}/contact'>{{i18n course.pages.test.four_b.incorrect_two_link}}</a> {{{i18n course.pages.test.four_b.incorrect_two_two_html}}}</p>
                {{/if}}
              {{/if}}
              <ul>
                {{#each question in questionsWithIndex}}
                  <a {{action 'selectExplanation' question.object.explanation_source}}>
                    <li {{bind-attr class='question.object.correct:correct:incorrect'}}><div {{bind-attr class=':circle'}}></div>{{{i18n course.pages.test.four_b.review_explanation_video count=question.index}}}</li>
                  </a>
                {{/each}}
              </ul>
            {{/if}}

            {{#if isInUnanswered}}
              {{ log 'TODO: >>> isInUnanswered' }}
              {{#if question.test_case}}
                {{ log 'TODO: >> question.test_case' }}

                <div class="col-lg-5">
                  <div class="position-relative">
                    <div class="three_sliders assessmentquestion__content testcasecontent">
                      <span>{{{question.title}}}</span>

                      <h6 class="testcase_title">
                        {{{i18n course.pages.test.test_case.description_html}}}
                      </h6>


                      <div class='test-case'>
                        <div class='question'>
                          <h2>{{i18n course.pages.test.test_case.question_one}}</h2>
                          {{#each answer in questionSetOne}}
                            <label>{{radio-button value=answer name=view.name selection=questionSetOneSelection}}<div class='body'>{{{answer.body}}}</div></label>
                          {{/each}}
                        </div>
                        <div class='question'>
                          <h2>{{i18n course.pages.test.test_case.question_two}}</h2>
                          {{#each answer in questionSetTwo}}
                            <label>{{radio-button value=answer name=view.name selection=questionSetTwoSelection}}<div class='body'>{{{answer.body}}}</div></label>
                          {{/each}}
                        </div>
                        <div class='question'>
                          <h2>{{i18n course.pages.test.test_case.question_three}}</h2>
                          {{#each answer in questionSetThree}}
                            <label>{{radio-button value=answer name=view.name selection=questionSetThreeSelection}}<div class='body'>{{{answer.body}}}</div></label>
                          {{/each}}
                        </div>
                        <div class='question'>
                          <h2>{{i18n course.pages.test.test_case.question_four}}</h2>
                          {{#each answer in questionSetFour}}
                            <label>{{radio-button value=answer name=view.name selection=questionSetFourSelection}}<div class='body'>{{{answer.body}}}</div></label>
                          {{/each}}
                        </div>
                        <div class='question'>
                          <h2>{{i18n course.pages.test.test_case.question_five}}</h2>
                          {{#each answer in questionSetFive}}
                            <label>{{radio-button value=answer name=view.name selection=questionSetFiveSelection}}<div class='body'>{{{answer.body}}}</div></label>
                          {{/each}}
                        </div>
                        <div class='question'>
                          <h2>{{i18n course.pages.test.test_case.question_six}}</h2>
                          {{#each answer in question.answers}}
                            <label>{{radio-button value=answer name=view.name selection=selectedAnswer}}<div class='body'>{{{answer.body}}}</div></label>
                          {{/each}}
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                {{else}}
                <h1>{{{question.title}}}</h1>
                <div class='test'>
                  {{ext-radio content=question.answers value=selectedAnswer}}
                </div>
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if isInUnanswered}}
            {{ log 'TODO: >>> isInUnanswered' }}
            {{#if question.hasInteractiveTriplet}}
              {{ log 'TODO: >> hasInteractiveTriplet' }}
              <!-- <div class='image-scroller-zoom' {{action 'expand'}}></div> ---> 
            {{else}}
              {{#each interactive_source in question.interactive_sources}}
                <div {{bind-attr class=":columns columns"}}>
                  {{multi-scroller imageWidth=interactiveWidth imageHeightMax=interactive_source.height
                    source=interactive_source.sourceWithUrl images=interactive_source.images label=interactive_source.label}}
                  {{!-- TODO: Refactor out single-scroller and sourceWithURL function
                  {{#if interactive_source.hasUnsafeHeight}}
                    {{multi-scroller imageWidth=interactiveWidth imageHeightMax=interactive_source.height
                      source=interactive_source.sourceWithUrl images=interactive_source.images label=interactive_source.label}}
                  {{else}}
                    {{single-scroller imageWidth=interactiveWidth imageHeightMax=interactive_source.height
                      source=interactive_source.sourceWithUrl images=interactive_source.images label=interactive_source.label}}
                  {{/if}}
                  --}}
                </div>
              {{/each}}
            {{/if}}
          {{/if}}
          {{#if isInAnswered}}
            {{ log 'TODO: >> isInAnswered (1)' }}
            {{video-player finished='finished' mandatory=false source=explanationSource}}
          {{/if}}
          <p>{{{abbreviations}}}</p>
          <div class="page__select__next__prev">
            {{#if isInAnswered}}
              {{ log 'TODO: >> isInAnswered (2)' }}
              {{#if showRetakeButton }}
                <a class='right' {{action 'retakeTest'}}>
                  <img src="/assets/right_angle_purple.svg" alt="Right angle purple">
                  {{{i18n course.actions.retake_test}}}
                </a>
              {{else}}
                <a {{bind-attr class=':right testFailedTwice:disabled:enabled'}} {{action 'next'}}>
                  {{i18n course.actions.next}}
                  <img src="/assets/right_angle_purple.svg" alt="Right angle purple">
                </a>
              {{/if}}
            {{/if}}
            {{#if isInUnanswered}}
              {{ log 'TODO: >> isInUnanswered' }}
              <a {{bind-attr class=':right answered:enabled:disabled'}} {{action 'submit'}}>
                {{i18n course.actions.next}}
                <img src="/assets/right_angle_purple.svg" alt="Right angle purple">
              </a>
            {{/if}}
            {{#if isInExpanded}}
              {{ log 'TODO: >> isInExpanded' }}
              <a {{bind-attr class=':right'}} {{action 'contract'}}>
                {{i18n course.actions.back}}
                <img src="/assets/right_angle_purple.svg" alt="Right angle purple">
              </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section id="reference__area" class="reference__area">
  <div class="container">
    <div class="reference__wrap assessment__wrap">
      <div class="testcase__row">
        <div class="row g-3">
          <div class="col-lg-5">
            <div class="assessmentquestion__content__img assessment__answer position-relative">
              <div class="assessmentquestion__content testcasecontent">

                <div class="multipart__span">
                  <span>Case 1</span>
                </div>
                <h6 class="testcase_title">Navigate the three views with the slider. Assess the five regions and
                  then
                  make an overall assessment.
                </h6>

                <div class="testcase__reports">
                  <div class="testcase__single__report">
                    <h6>Frontal pole and lobe</h6>
                    <div class="test__report__field">
                      <div class="remember solution">
                        <div class="checkbox">
                          <input type="checkbox" id="check1">
                          <div class="check_field"></div>
                        </div>
                        <label for="check1" style="color: #000; font-size: 18px;">Negative</label>
                      </div>
                      <div class="remember solution">
                        <div class="checkbox">
                          <input type="checkbox" id="check2">
                          <div class="check_field"></div>
                        </div>
                        <label for="check2" style="color: #000; font-size: 18px;">Positive</label>
                      </div>
                    </div>
                  </div>
                  <div class="testcase__single__report">
                    <h6>Posterior cingulate and precuneus</h6>
                    <div class="test__report__field">
                      <div class="remember solution">
                        <div class="checkbox">
                          <input type="checkbox" id="check3">
                          <div class="check_field"></div>
                        </div>
                        <label for="check3" style="color: #000; font-size: 18px;">Negative</label>
                      </div>
                      <div class="remember solution">
                        <div class="checkbox">
                          <input type="checkbox" id="check4">
                          <div class="check_field"></div>
                        </div>
                        <label for="check4" style="color: #000; font-size: 18px;">Positive</label>
                      </div>
                    </div>
                  </div>
                  <div class="testcase__single__report">
                    <h6>Temporal lobe</h6>
                    <div class="test__report__field">
                      <div class="remember solution">
                        <div class="checkbox">
                          <input type="checkbox" id="check5">
                          <div class="check_field"></div>
                        </div>
                        <label for="check5" style="color: #000; font-size: 18px;">Negative</label>
                      </div>
                      <div class="remember solution">
                        <div class="checkbox">
                          <input type="checkbox" id="check6">
                          <div class="check_field"></div>
                        </div>
                        <label for="check6" style="color: #000; font-size: 18px;">Positive</label>
                      </div>
                    </div>
                  </div>
                  <div class="testcase__single__report">
                    <h6>Striatum</h6>
                    <div class="test__report__field">
                      <div class="remember solution">
                        <div class="checkbox">
                          <input type="checkbox" id="check7">
                          <div class="check_field"></div>
                        </div>
                        <label for="check7" style="color: #000; font-size: 18px;">Negative</label>
                      </div>
                      <div class="remember solution">
                        <div class="checkbox">
                          <input type="checkbox" id="check8">
                          <div class="check_field"></div>
                        </div>
                        <label for="check8" style="color: #000; font-size: 18px;">Positive</label>
                      </div>
                    </div>
                  </div>
                  <div class="testcase__single__report">
                    <h6>Overall classification</h6>
                    <div class="test__report__field">
                      <div class="remember solution">
                        <div class="checkbox">
                          <input type="checkbox" id="check9">
                          <div class="check_field"></div>
                        </div>
                        <label for="check9" style="color: #000; font-size: 18px;">Negative</label>
                      </div>
                      <div class="remember solution">
                        <div class="checkbox">
                          <input type="checkbox" id="check10">
                          <div class="check_field"></div>
                        </div>
                        <label for="check10" style="color: #000; font-size: 18px;">Positive</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="color__field">
                <img src="assets/img/color_field.png" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="testcase__all__slider">
              <div class="testcase__slide">
                <img src="assets/img/case_img1.png" alt="">
                <img src="assets/img/case_img1.png" alt="">
                <img src="assets/img/case_img1.png" alt="">
                <img src="assets/img/case_img1.png" alt="">
                <img src="assets/img/case_img1.png" alt="">
                <img src="assets/img/case_img1.png" alt="">
                <img src="assets/img/case_img1.png" alt="">
                <img src="assets/img/case_img1.png" alt="">
              </div>
              <div class="testcase__slide">
                <img src="assets/img/case_img2.png" alt="">
                <img src="assets/img/case_img2.png" alt="">
                <img src="assets/img/case_img2.png" alt="">
                <img src="assets/img/case_img2.png" alt="">
                <img src="assets/img/case_img2.png" alt="">
                <img src="assets/img/case_img2.png" alt="">
                <img src="assets/img/case_img2.png" alt="">
                <img src="assets/img/case_img2.png" alt="">
              </div>
              <div class="testcase__slide">
                <img src="assets/img/case_img3.png" alt="">
                <img src="assets/img/case_img3.png" alt="">
                <img src="assets/img/case_img3.png" alt="">
                <img src="assets/img/case_img3.png" alt="">
                <img src="assets/img/case_img3.png" alt="">
                <img src="assets/img/case_img3.png" alt="">
                <img src="assets/img/case_img3.png" alt="">
                <img src="assets/img/case_img3.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
