<div class="row">
  <div class="small-5 large-5 columns with-content with-minimum">
    <h1>{{title}}</h1>
    <hr>
    {{{body}}}
    <hr>
    {{#if isInCorrect}}
      <h4>You've answered the question correctly!</h4>
      <button {{action 'next' }}>Next</button>
    {{/if}}
    {{#if isInIncorrect}}
      <h4>You've answered the question incorrectly</h4>
      <button {{action 'next' }}>Next</button>
    {{/if}}
    {{#if isInUnanswered}}
      {{ext-radio content=questionSet value=selectedQuestion}}
      <button {{action 'submit' }}>Submit</button>
    {{/if}}
    <hr>
    {{controller}} | {{currentState}}
  </div>
  <div class="small-7 large-7 columns with-media">
    <img src="http://placehold.it/570x480" class="img-responsive">
  </div>
  {{!-- {{partial 'actions'}} --}}
</div>
