<div class='row image-page' {{bind-attr style='style'}}>
  <div class='small-12 medium-12 large-12 columns with-content with-minimum'>
    <img {{bind-attr src=sourceWithUrl }} height='460' width='968' class='img-responsive'>
    <div class='button-container row'>
      <div class='small-12 medium-12 large-12 columns'>
        <a {{bind-attr class=':right complete:enabled:disabled'}} {{action 'next' chapter step}}>{{i18n course.actions.next}}<i class='fi-arrow-right'></i></a>
      </div>
    </div>
  </div>
</div>
