<div {{bind-attr class=':row :image-question-page isSuperUser:super-user'}}>
  <div class='small-5 large-5 columns with-content with-minimum'>
    <h1>{{title}}</h1>
    <hr>
    <p>{{{body}}}</p>
    <hr>
    {{#if isInCorrect}}
      <h4>You've answered the question correctly!</h4>
      <button {{action 'next' }}>Next</button>
    {{/if}}
    {{#if isInIncorrect}}
      <h4>You've answered the question incorrectly</h4>
      <button {{action 'next' }}>Next</button>
    {{/if}}
    {{#if isInUnanswered}}
      {{ext-radio content=questionSet value=selectedQuestion}}
      <button {{action 'submit' }}>Submit</button>
    {{/if}}
  </div>
  <div class='small-7 large-7 columns with-media'>
    <img src='http://placehold.it/570x480' class='img-responsive'>
    <div class='button-container row'>
      <div class='small-12 medium-12 large-12 columns'>
        <a {{bind-attr class=':right complete:enabled:disabled'}} href='/'>Next<i class='fi-arrow-right'></i></a>
      </div>
    </div>
  </div>
</div>
