<div {{bind-attr class=':row :interactive-page isSuperUser:super-user'}}>
  <div class='small-5 large-5 columns with-content with-minimum'>
    <h1>{{title}}</h1>
    <p>{{{body}}}</p>
  </div>
  <div class='small-7 large-7 columns with-media with-minimum'>
    <div class='image-scrollers row'>
      {{#each interactive_source in interactive_sources}}
        <div {{bind-attr class=":columns columns"}}>
          {{interactive-scroller finished='finished' imageWidth=interactiveWidth imageHeightMax=interactive_source.height source=interactive_source.sourceWithUrl label=interactive_source.label}}
        </div>
      {{/each}}
    </div>
    <div class='row button-container'>
      <div class='small-12 medium-12 large-12 columns'>
        <a {{bind-attr class=':right complete:enabled:disabled'}} {{action 'next' step}}>{{i18n course.actions.next}}<i class='fi-arrow-right'></i></a>
      </div>
    </div>
  </div>
</div>
