<section id="reference__area" class="reference__area interactive__area">
  <div {{ bind-attr class=':container' id='columns' }}>
    <div class="reference__wrap assessment__wrap">

      <div {{ bind-attr class=':row :d-flex' }}>
        <div class="col-xxl-5">
          <div class="body_wrap">
            <div class="assessmentquestion__content">
              <div class="multipart__span">
                <span>
                  {{{title}}}
                </span>
              </div>
              <h6 class="assessment2_title">
                {{{body}}}
              </h6>
              <p>{{{abbreviations}}}</p>
            </div>
          </div>
        <br>
        <br>
        <br>
        </div>

        <div {{ bind-attr class=':interactive_column :col-xxl-7 :d-flex :justify-content-around' }}>
          {{#each interactive_source in interactive_sources}}
            <div {{bind-attr class=":slidy"}}>
              {{multi-scroller imageWidth=interactiveWidth imageHeightMax=interactive_source.height
                source=interactive_source.sourceWithUrl images=interactive_source.images label=interactive_source.label}}
              {{!-- TODO: Refactor out single-scroller and sourceWithURL function
              {{#if interactive_source.hasUnsafeHeight}}
                {{multi-scroller imageWidth=interactiveWidth imageHeightMax=interactive_source.height
                  source=interactive_source.sourceWithUrl images=interactive_source.images label=interactive_source.label}}
              {{else}}
                {{single-scroller imageWidth=interactiveWidth imageHeightMax=interactive_source.height
                  source=interactive_source.sourceWithUrl images=interactive_source.images label=interactive_source.label}}
              {{/if}}
              --}}
            </div>
          {{/each}}
        </div>

      </div>
    </div>
    <div class="page__select__next__prev">
      <a {{bind-attr class=':right complete:enabled:disabled'}}
         {{action 'next' step}}>
        {{i18n course.actions.next}}
        <img src="/assets/right_angle_purple.svg" alt="Right angle purple">
      </a>
    </div>
  </div>
</section>
