<div class='row interactive-question-page' {{bind-attr style='style'}}>
  <div class='small-5 large-5 columns with-content with-minimum'>
    <h1>{{title}}</h1>
    <hr>
    {{{body}}}
    <hr>
    {{#if isInCorrect}}
      <h4>You've answered the question correctly!</h4>
      <button {{action 'next' }}>Next</button>
    {{/if}}
    {{#if isInIncorrect}}
      <h4>You've answered the question incorrectly</h4>
      <button {{action 'next' }}>Next</button>
    {{/if}}
    {{#if isInUnanswered}}
      {{ext-radio content=questionSet value=selectedQuestion}}
      <button {{action 'submit' }}>Submit</button>
    {{/if}}
  </div>
  <div class='small-7 large-7 columns with-media with-minimum'>
    <div class='row'>
      <div class='small-6 large-6 columns'>
        {{image-scroller imageHeight=500 imageHeightMax=5000 src='/assets/slice-test.png'}}
      </div>
      <div class='small-6 large-6 columns'>
        {{image-scroller imageHeight=500 imageHeightMax=5000 src='/assets/slice-test.png'}}
      </div>
    </div>
    <div class='button-container row'>
      <div class='small-12 medium-12 large-12 columns'>
        <a {{bind-attr class=':right complete:enabled:disabled'}} href='/'>Next<i class='fi-arrow-right'></i></a>
      </div>
    </div>
  </div>
</div>
