<div class="container">
  <div class="row">
    <div class="page__selection">
      <div class="progress_indicator">
        <div class="col-md-5">
          <h4>
            {{#if isSandbox}}({{currentPage.page_id}}) {{/if}}{{{currentPage.chapter.title}}}{{#if currentPage.subject_area}}&nbsp;— {{currentPage.subject_area}}{{/if}}
          </h4>
        </div>
        <div class="col-md-7">
          <div class="progress_wrapper">
            {{visual-progression total=total chapters=visibleChapters}}
            <div class="progress-state">{{total}}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
