<div class="container">
  <div class="row">
    <div class="page__selection">
      <div class="progress_indicator">
        <h4>
          {{#if isSandbox}}({{currentPage.page_id}}) {{/if}}{{{currentPage.chapter.title}}}{{#if currentPage.subject_area}}&nbsp;— {{currentPage.subject_area}}{{/if}}
        </h4>
        {{visual-progression total=total chapters=visibleChapters}}
        <h4>{{total}}%</h4>
      </div>
    </div>
  </div>
</div>
