<section id="qi__area" class=qi__area">
  <div class="container page question-into-page">
    <div class="reference__wrap assessment__wrap">
      <div class="assessment__content">
        <h3>{{{title}}}</h3>
        <p>{{{body}}}</p>
      </div>

      <div class="page__select__next__prev py-5">
        <a {{bind-attr class=':right complete:enabled:disabled' }} {{action 'next' step}}>{{i18n course.actions.next}}
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
