<div {{bind-attr class=':row :question-intro-page isSuperUser:super-user'}}>
  <div class='small-12 medium-12 large-12 columns with-content with-minimum'>
    <div class='title-box'>
      <h1>{{title}}</h1>
    </div>
    <div class='body-box'>
      <p>{{{body}}}</p>
    </div>
    <div class='row button-container'>
      <div class='small-12 medium-12 large-12 columns'>
        <a {{bind-attr class=':right complete:enabled:disabled'}} {{action 'next' chapter step}}>{{i18n course.actions.next}}<i class='fi-arrow-right'></i></a>
      </div>
    </div>
  </div>
</div>
