<section id="reference__area" class="reference__area test">
  <div class="container">
    <div class="reference__wrap assessment__wrap">
      <div
        {{ bind-attr class=':assessmentquestion__content__img
          isInCorrect:results__page:not__results__page
          isInIncorrect:results__page:not__results__page '}}>
        <div class="assessmentquestion__content">
          {{#if isInExpanded}}
            {{ log 'TODO: >>> isInExpanded' }}
          {{else}}
            {{#if isInCorrect}}
              {{ log 'TODO: >> isInCorrect' }}
              <span>{{{results_title}}}</span>

              {{#each question in questionsInOrder}}
                {{ log question }}
                {{render 'question' question}}
              {{/each}}

              <div class="answer__content">
                <p>{{{results_correct}}}</p>
              </div>
            {{/if}}
            {{#if isInIncorrect}}
              <span>{{{results_title}}}</span>

              {{#each question in questionsInOrder}}
                {{ log question }}
                {{render 'question' question}}
              {{/each}}

              <div class="answer__content">
                <p>{{{results_incorrect}}}</p>
              </div>
            {{/if}}
            {{#if isInExpanded}}
              {{ log 'TODO: >> isInExpanded' }}
            {{/if}}
            {{#if isInUnanswered}}
              {{ log 'DOING NOW: >> isInUnanswered' }}

              {{#unless test_case}}
                {{ log '> Not a test_case' }}
                <div class='test-progress'>
                  <ul>
                    {{#if singleQuestion}}
                      {{ log '> is singleQuestion' }}
                      <span>{{{i18n course.pages.test.question.single_title}}}<span>
                    {{else}}
                        <span>{{i18n course.pages.test.question.plural_title}}</span>
                    {{/if}}
                    {{#each question in answeredQuestions}}
                      {{ log '> answeredQuestion' }}
                      <li class='answered'></li>
                    {{/each}}
                    {{#each question in unansweredQuestions}}
                      {{ log '> unansweredQuestion' }}
                      <li {{bind-attr class='question.active'}}></li>
                    {{/each}}
                  </ul>
                </div>
              {{/unless}}
              {{#if question.test_case}}
                {{ log 'TODO >>> OH MY COD!!!!! Exam time! <<<' }}
              {{else}}
                <h6 class="assessment_title">{{{question.title}}}</h6>

                <div class="assessment__select">
                  {{ext-radio content=question.answers value=selectedAnswer dev=isDevelopment}}
                </div>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
        <div class="assessmentquestion__img">
          {{#if question.hasImages}}
            {{ log '>> question.hasImages' }}
            {{#each image_source in question.image_sources}}
              {{image-loader source=image_source.sourceWithUrl}}
            {{/each}}
          {{/if}}
        </div>
      </div>
    </div>

    <div class="page__selection page__question__assessment">
      <div class="page__select__next__prev">
        {{#if isInCorrect}}
          <a {{bind-attr class=':right'}} {{action 'next' step}}>
            {{i18n course.actions.next}}
            <img src="/assets/right_angle_purple.svg" alt="Right angle purple">
          </a>
        {{/if}}
        {{#if isInIncorrect}}
          <a {{bind-attr class=':right'}} {{action 'failure'}}>
            {{i18n course.actions.next}}
            <img src="/assets/right_angle_purple.svg" alt="Right angle purple">
          </a>
        {{/if}}
        {{#if isInUnanswered}}
          <a {{bind-attr class=':right answered:enabled:disabled'}} {{action 'submit'}}>
            {{i18n course.actions.next}}
            <img src="/assets/right_angle_purple.svg" alt="Right angle purple">
          </a>
        {{/if}}
        {{#if isInExpanded}}
          <a {{bind-attr class=':right'}} {{action 'contract'}}>
            {{i18n course.actions.back}}
            <img src="/assets/right_angle_purple.svg" alt="Right angle purple">
          </a>
        {{/if}}
      </div>
    </div>
  </div>
</section>

