<div {{bind-attr class=':row :test-page isSuperUser:super-user'}}>
  <div class='small-5 large-5 columns with-content with-minimum'>
    {{#if isInCorrect}}
      <div class='test-progress'>
        <p>Self-assessment question results</p>
        <ul>
          {{#each question in questions}}
            <li>{{question.id}}</li>
          {{/each}}
        </ul>
      </div>
      <p>Well done!</p>
      <p>Your self assessment for {{chapter.title}} - {{title}}</p>
      <h4>You've answered the question(s) correctly!</h4>
    {{/if}}
    {{#if isInIncorrect}}
      <h4>You've answered the question(s) incorrectly</h4>
    {{/if}}
    {{#if isInUnanswered}}
      <div class='test-progress'>
        <p>Self assestment question</p>
        <ul>
          {{#each question in answeredQuestions}}
            <li class='answered'></li>
          {{/each}}
          {{#each question in unansweredQuestions}}
            <li {{bind-attr class='question.active'}}></li>
          {{/each}}
        </ul>
      </div>
      <h1>{{question.title}}</h1>
      <div class='test'>
        {{ext-radio content=question.answers value=selectedAnswer}}
      </div>
    {{/if}}
  </div>
  <div class='small-7 large-7 columns with-media'>
    <div class='row'>
      {{#if isInUnanswered}}
      {{#each image_source in question.image_sources}}
        <div class="small-12 large-12 columns">
          {{image-loader source=image_source.sourceWithUrl}}
        </div>
      {{/each}}
        <div class='image-scrollers'>
          {{#each interactive_source in question.interactive_sources}}
            <div {{bind-attr class=":columns columns"}}>
              {{interactive-scroller imageHeightMax=interactive_source.height source=interactive_source.sourceWithUrl label=interactive_source.label}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
    <div class='row button-container'>
      <div class='small-12 medium-12 large-12 columns'>
        {{#if isInCorrect}}
          {{step}}
          <a {{bind-attr class=':right'}} {{action 'next' chapter step}}>{{i18n course.actions.next}}<i class='fi-arrow-right'></i></a>
        {{/if}}
        {{#if isInIncorrect}}
          {{failure_step}}
          <a {{bind-attr class=':right'}} {{action 'next' failure_step}}>{{i18n course.actions.next}}<i class='fi-arrow-right'></i></a>
        {{/if}}
        {{#if isInUnanswered}}
          <a {{bind-attr class=':right answered:enabled:disabled'}} {{action 'submit'}}>Submit<i class='fi-arrow-right'></i></a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
