<div {{bind-attr class=':row :test-page isSuperUser:super-user'}}>
  <div class='small-5 large-5 columns with-content with-minimum'>
    <div class='test-progress'>
      <p>Self assestment question</p>
      <ul>
        {{#each question in questions}}
          <li {{bind-attr class='question.active question.answered'}}></li>
        {{/each}}
      </ul>
    </div>
    <h1>{{question.title}}</h1>
    {{#if isInCorrect}}
      <h4>You've answered the question(s) correctly!</h4>
    {{/if}}
    {{#if isInIncorrect}}
      <h4>You've answered the question(s) incorrectly</h4>
    {{/if}}
    {{#if isInUnanswered}}
      {{ext-radio content=question.answers value=selectedAnswer}}
    {{/if}}
  </div>
  <div class='small-7 large-7 columns with-media'>
    {{#if isInUnanswered}}
      <img src='http://vizamyl.s3.amazonaws.com/images/question-debug.png' class='img-responsive'>
    {{/if}}
    <div class='button-container row'>
      <div class='small-12 medium-12 large-12 columns'>
        {{#if isInCorrect}}
          <a {{bind-attr class=':right complete:enabled:disabled'}} {{action 'next' chapter step}}>{{i18n course.actions.next}}<i class='fi-arrow-right'></i></a>
        {{/if}}
        {{#if isInIncorrect}}
          <a {{bind-attr class=':right complete:enabled:disabled'}} {{action 'next' chapter step}}>{{i18n course.actions.next}}<i class='fi-arrow-right'></i></a>
        {{/if}}
        {{#if isInUnanswered}}
          <a {{bind-attr class=':right answered:enabled:disabled'}} {{action 'submit'}}>Submit<i class='fi-arrow-right'></i></a>
        {{/if}}
      </div>
    </div>
  </div>
</div>
