<div {{bind-attr class=':container :page :text-page'}}>
  <div class='row'>
    <div class="col-md-6">
      <div class="content-container">
        <div class="content-header">
          <h2>{{{title}}}</h2>
          <p>{{{body}}}</p>
        </div>
        <div class="content-footer">
          <div class='page-abbreviations'>
            <p>{{{abbreviations}}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="media-container">
        <div class="page__select__next__prev">
          <a {{bind-attr class=':right :btn :btn-primary complete:enabled:disabled'}} {{action 'next' step}}>
            {{i18n course.actions.next}}
            <span class="arrow-circle"><i class="fa fa-arrow-right-long arrow right"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
