<div {{bind-attr class=':row :text-page isSuperUser:super-user'}}>
  <div class='small-12 medium-12 large-12 columns with-content with-minimum'>
    <h1>{{title}}</h1>
    <p>{{{body}}}</p>
    <div class="abbreviations">
      <p>{{{abbreviations}}}</p>
    </div>
    <div class='button-container row'>
      <div class='small-12 medium-12 large-12 columns'>
        <a {{bind-attr class=':right complete:enabled:disabled'}} {{action 'next' chapter step}}>{{i18n layouts.application.action_next}}<i class='fi-arrow-right'></i></a>
      </div>
    </div>
  </div>
</div>
