<div {{bind-attr class=':container :page :text-page'}}>
  <div class='row'>
    <div class="col-md-8">
      <h1>{{{title}}}</h1>
      <p>{{{body}}}</p>
    </div>
    <div class="col-md">
    </div>
  </div>

  <div class='row'>
    <div class="col-md-8">
      <div class='page-abbreviations'>
        <p>{{{abbreviations}}}</p>
      </div>
    </div>
    <div class="page__select__next__prev py-2">
      <a {{bind-attr class=':right complete:enabled:disabled'}} {{action 'next' step}}>
        {{i18n course.actions.next}}
        <i class="fa-solid fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>

