<div {{bind-attr class=':container :page :text-page'}}>
  <div class='row'>
    <div class="col-md-8">
      <h1>{{{title}}}</h1>
      <p>{{{body}}}</p>
    </div>
    <div class="col-md">
      <div class="page__select__next__prev">
        <a class="btn btn-primary" {{bind-attr class=':right complete:enabled:disabled'}} {{action 'next' step}}>
          {{i18n course.actions.next}}
          <span class="arrow-circle"><i class="fa fa-arrow-right-long arrow right"></i></span>
        </a>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-md-8">
      <div class='page-abbreviations'>
        <p>{{{abbreviations}}}</p>
      </div>
    </div>
  </div>
</div>

