<div class="row">
  <div class="small-5 large-5 columns with-content with-minimum">
    <h1>{{title}}</h1>
    <hr>
    {{controller}} | {{currentState}}
  </div>
  <div class="small-7 large-7 columns with-media">
    {{video-player mandatory=false videoId=videoId}}
  </div>
  {{!-- {{partial 'actions'}} --}}
</div>
