<div {{bind-attr class=':container :page :video-page'}}>
  <div class='row'>
    <div class="col-md-5">
      <h1>{{{title}}}</h1>
      <p>{{{body}}}</p>
    </div>
    <div class="col-md-7">
      {{video-player finished='finished' mandatory=mandatoryOverride source=source}}
    </div>
  </div>

  <div class='row'>
     <div class="col-md-5">
      <div class='page-abbreviations'>
        <p>{{{abbreviations}}}</p>
      </div>
    </div>
    <div class=''>
      <div class="page__select__next__prev">
        <a {{bind-attr class=':right complete:enabled:disabled'}} {{action 'next' step}}>
          {{i18n course.actions.next}}
          <img src="/assets/right_angle_purple.svg" alt="Right angle purple">
        </a>
      </div>
    </div>
  </div>
</div>
