<li><%= link_to t('layouts.application.course_menu'), "/course/#{I18n.locale}/menu" %></li>
<% if user_signed_in? %>
  <li><%= link_to t('layouts.application.my_account'), edit_user_registration_path(locale: I18n.locale) %></li>
<% else %>
  <li><%= link_to t('layouts.application.login'), new_user_session_path(locale: I18n.locale) %></li>
  <% if I18n.locale == :'en-us' %>
    <li><%= link_to t('layouts.application.enrol'), us_path(locale: I18n.locale) %></li>
  <% else %>
    <li><%= link_to t('layouts.application.enrol'), users_locale_enrol_path(id: User.form_steps.first, locale: I18n.locale) %></li>
  <% end %>
<% end %>
<li><%= link_to t('layouts.application.references'), static_path(id: 'references', locale: I18n.locale) %></li>
<li><%= link_to t('layouts.application.contact'), static_path(id: 'contact', locale: I18n.locale) %></li>
<li><%= link_to t('layouts.application.resources'), static_path(id: 'resources', locale: I18n.locale) %></li>
<% if user_signed_in? %>
  <li><%= link_to t('layouts.application.logout'), destroy_user_session_path(locale: I18n.locale) %></li>
<% end %>
