<section id="success__area" class="success__area">
  <div class="container">
    <div class="success__wrap">
      <div class="success__content">
        <div class="row">
          <div class="">
            <p><%= t('.description_html') %></p>
            <p><%= link_to t('.download_results'), users_course_complete_path(format: :pdf) %></p>
            <meta http-equiv='refresh' content="3;<%= users_course_complete_path(format: :pdf) %>">
          </div>

          <div class="">
            <% if european_locale? %>
              <div class="d-flex justify-content-center my-5">
                <a href='<%= users_use_path %>'>
                  <h2>
                    <%= t('.adjunctive_use_of_quantification_html') %>
                  </h2>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
