<!DOCTYPE html>
<html lang='en'>
  <%= render partial: 'head' %>
  <body class='application'>
    <nav role='nav'>
			<div class='row'>
				<ul class='inline-list'>
					<li><%= link_to t('layouts.application.course_menu'), "/course/#{I18n.locale}/menu" %></li>
          <% if user_signed_in? %>
            <li><%= link_to t('layouts.application.my_account'), edit_user_registration_path(locale: I18n.locale) %></li>
          <% else %>
            <li><%= link_to t('layouts.application.login'), new_user_session_path(locale: I18n.locale) %></li>
            <li><%= link_to t('layouts.application.enrole'), new_user_registration_path(locale: I18n.locale) %></li>
          <% end %>
					<li><%= link_to t('layouts.application.prescribing_information'), static_path(id: 'prescribing-information', locale: I18n.locale) %></li>
					<li><%= link_to t('layouts.application.references'), static_path(id: 'references', locale: I18n.locale) %></li>
					<li><%= link_to t('layouts.application.resources'), static_path(id: 'resources', locale: I18n.locale) %></li>
					<li><%= link_to t('layouts.application.contact'), static_path(id: 'contact', locale: I18n.locale) %></li>
					<% if user_signed_in? %>
						<li><%= link_to t('layouts.application.logout'), destroy_user_session_path(locale: I18n.locale) %></li>
					<% end %>
					<li class='right'>
						<p class='global-brand'>
              <%= t('layouts.application.brand_html') %>
						</p>
					</li>
				</ul>
			</div>
		</nav>
		<main role='main'>
			<%= yield %>
		</main>
		<%= render partial: 'footer' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-56326872-1', 'auto');
      ga('send', 'pageview');
    </script>
	</body>
</html>
