<!doctype html>
<!--[if IE 9]><html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js <%= locale %>" lang="en"><!--<![endif]-->
  <%= render partial: 'head' %>
  <body class='application'>

    <div class="offcanvas-area">
      <div class="menu-close">
        <i class="fa fa-times"></i>
      </div>
      <div class="offcanvas-menu">
        <div class="main-menu">
          <ul class="d-block">
            <%= render partial: 'menu_links' %>
          </ul>
        </div>
      </div>
    </div>

    <div class="offcanvas-overlay"></div>

    <header id="header__area" class="header__area">
      <div class="container">
        <div class="header__wrap">
          <a href="#">
            <%= image_tag('logo.svg') %>
          </a>
          <div class="header__nav d-none d-xl-block">
            <ul>
              <%= render partial: 'menu_links' %>
            </ul>
          </div>
          <div class="vizamyl_logo">
            <div class="logo_text">
              <p class="global_brand">
                <%= link_to t('layouts.application.logo.1_html'), "/#{I18n.locale}" %>
                <%= t('layouts.application.logo.2_html') %>
                <%= t('layouts.application.logo.3_html') %>
              </p>
            </div>

            <div class="burger_menu d-xl-none d-block">
              <a href="#"><i class="fa-solid fa-bars"></i></a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main id="main" class="overflow-hidden" role='main'>
      <%= yield %>
    </main>
    <%= render partial: 'footer' %>
    <%= render partial: 'ga' %>
    <%= render partial: 'rollbar' %>
    <%= render partial: 'pingdom' %>
  </body>
</html>
